.clear {
    clear: both
}
/*footer css*/
\
footer{
    background-color: #222;
}
footer.nb-footer {
background: #222;
border-top: 4px solid #b78c33; }
footer.nb-footer .about {
margin: 0 auto;
margin-top: 40px;
max-width: 1170px;
text-align: center; }
footer.nb-footer .about p {
font-size: 13px;
color: #999;
margin-top: 30px; }
footer.nb-footer .about .social-media {
margin-top: 15px; }
footer.nb-footer .about .social-media ul li a {
display: inline-block;
width: 45px;
height: 45px;
line-height: 45px;
border-radius: 50%;
font-size: 16px;
color: #b78c33;
border: 1px solid rgba(255, 255, 255, 0.3); }
footer.nb-footer .about .social-media ul li a:hover {
background: #b78c33;
color: #fff;
border-color: #b78c33; }
footer.nb-footer .footer-info-single {
margin-top: 30px; }
footer.nb-footer .footer-info-single .title {
color: #aaa;
text-transform: uppercase;
font-size: 16px;
border-left: 4px solid #b78c33;
padding-left: 5px; }
footer.nb-footer .footer-info-single ul li a {
display: block;
color: #aaa;
padding: 2px 0; }
footer.nb-footer .footer-info-single ul li a:hover {
color: #b78c33; }
footer.nb-footer .footer-info-single p {
font-size: 13px;
line-height: 20px;
color: #aaa; }
footer.nb-footer .copyright {
margin-top: 15px;
background: #111;
padding: 7px 0;
color: #999; }
footer.nb-footer .copyright p {
margin: 0;
padding: 0; }




/*navbar css*/
	body {
		margin:0px; 
        padding: 0px;
	}
	nav {margin: 0 ! important;}
	.sty1{
		font-size: 16px;
		font-weight: bold;
		font-family: verdana;
	}
.sty{
		padding: 15px;
		font-size: 16px;
		font-weight: bold;
	}
	.srh{
		margin-left:0%;
		width: 40%;
		margin-top: 10px;

	}	
	.bt{
		margin-bottom: : 10px !important;
		height: 30px;
		margin-left: 20px ; 
		    padding: 0 15px;
	}
	.icn{ 
		"margin-left: 20px;
		 font-size: 20px; 
		 color: red;
	}
	.img1{
		width: 100%;

	}
	input[type=text] {    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;}
	.active{
		background-color: none;
		color: brown !important;
	}	

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #b78c33;
    background-color: #222222;
}


.container1 {
  /* Location of the image */
  background-image: url(pic.jpg);
  height: 600px;
  background-position: fixed;
  background-repeat: no-repeat;
  
  /* Image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  
  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;
  
  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color:#464646;
  
  /* SHORTHAND CSS NOTATION
   * background: url(background-photo.jpg) center center cover no-repeat fixed;
   */
}

/* For mobile devices */
@media only screen and (max-width: 767px) {
  .container1 {
    /* The file size of this background image is 93% smaller
     * to improve page load speed on mobile internet connections */
    background-image: url(pic.jpg);
  }
    }
